@import '../../sass/_mixins';
@import '../../sass/_colors';

$card-margin: 1rem;

$card-top-height: 28vh;
$card-bottom-height: calc(100% - #{$card-top-height});

.show-card {
  flex-grow: 1;
  flex-basis: auto;
  width: auto;
  opacity: 1;
  border: 1px solid lighten($gray-dark, 50);
  border-radius: 0.25rem;
  background-color: rgba(255,255,255, 1);
  padding: 0;
  margin: 1rem $card-margin;
  height: auto;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1.65rem rgba(0, 0, 0, 0.35);
  line-height: 1.5;

  @include mq(phones) {
    flex-basis: calc(50% - #{0.7 * $card-margin});
	}
  @include mq(phonel) {
    flex-basis: calc(50% - #{0.6 * $card-margin});
	}
	@include mq(tabletp) {
    flex-basis: calc(33% - #{2 * $card-margin});
  }
	@include mq(tabletl) {
    flex-basis: calc(25% - #{3 * $card-margin});
	}
	@include mq(laptop) {
    flex-basis: calc(16% - #{4 * $card-margin});
  }
  @include mq(desktop) {
    flex-basis: calc(11.2% - #{4 * $card-margin});
  }

  .card-img-top {
    background-color: #fff;
    cursor: pointer;
    @include transition(background-color .4s ease-out);
    width: 100%;

    img {
      @include transition(filter 0.85s ease-out, opacity 0.3s ease-out);
      filter: blur(0px);
      width: 100%;
      height: auto;
      box-shadow: 0 8px 10px -2px #ddd;

      &:hover {
        opacity: 0.65;
      }
    }
  }

  .card-title {
    @include transition(opacity 0.35s ease-out);
    line-height: 1.35;
    margin: 1rem 0;
    color: $color-tertiary;
  }

  .card-details {
    p {
      color: #282c34;
    }
  }

  .tech {
    font-weight: bold;
    opacity: 0.6;
    line-height: 2.5;
    font-size: 0.8rem;
    color: $gray-dark;
  }

  // Card expands to fill screen once clicked
  &.project-focus {
    z-index: 100;
    animation-delay: .2s;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    margin: 0;
    // border: 1px solid blue;
    border-radius: 0;
    width: 99vw;
    height: 100vh;
    box-shadow: none;

    .card-img-top {
      z-index: 101;
      height: $card-top-height;
      display: inline-block;
      overflow: hidden;
      background-color: #fff;

      img {
        filter: blur(2.25px);
        opacity: 0.5;
        height: auto;
        width: 100%;
        border-bottom: 2px solid #333;
      }
    }

    .card-title {
      text-align: center;
      top: $card-top-height / 2.75;
      position: absolute;
      margin: 0 auto;
      text-align: center;

      h2 {
        width: 100vw;
        margin: 0 auto;
        font-size: 2.3rem;
        opacity: 0.9;
        color: #fff;
        letter-spacing: 0.07rem;
        text-shadow: 0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.9);
      }
    }

    .card-details {
      padding: 0;
      margin: 0;
      z-index: 101;
      height: $card-bottom-height;
      overflow-y: scroll;
      // overflow-x: hidden;
      box-shadow: 0.25rem -0.25rem 1.5rem rgba(0, 0, 0, 0.35);

      @include mq(phones) {
        padding: 0rem .25rem .8rem .25rem;
      }
      @include mq(phonel) {
        padding: 0rem 1rem .8rem;
      }
      @include mq(tabletp) {
        padding: 1.5rem 4rem .8rem;
      }
    }

    button {
      background-color: darken($color-accent, 10);
      margin: 5% 5%;
    }
  }
}


