
// https://coolors.co/88ccf1-d81159-8f2d56-218380-fbb13c
$color-primary: #88CCF1;
$color-secondary: lighten( #8F2D56, 5);
$color-tertiary: #218380;
$color-accent: #D81159;
$color-accent-two: #FBB13C;
$gray-dark: #333;
