// Base font sizes
$body_fs: 0.9rem;
$header_fs: $body_fs * 1.1;

$h1_fs: $header_fs * 2.25;
$h2_fs: $header_fs * 1.75;
$h3_fs: $header_fs * 1.35;
$h4_fs: $header_fs * 1.25;
$h5_fs: $header_fs * 1.15;
$h6_fs: $header_fs;

body {
  @include mq(phones) {
    $m: 0.8;
    h1 { font-size: $h1_fs * $m }
    h2 { font-size: $h2_fs * $m }
    h3 { font-size: $h3_fs * $m }
    h4 { font-size: $h4_fs * $m }
    h5 { font-size: $h5_fs * $m }
    h6 { font-size: $h6_fs * $m }
    p { font-size: 0.7em }
    header { padding:0.9em; }
    .shows-list { padding: .1rem; }
    .card-details { padding: .25rem .5rem }
  }
  @include mq(phonel) {
    $m: 0.85;
    h1 { font-size: $h1_fs * $m }
    h2 { font-size: $h2_fs * $m }
    h3 { font-size: $h3_fs * $m }
    h4 { font-size: $h4_fs * $m }
    h5 { font-size: $h5_fs * $m }
    h6 { font-size: $h6_fs * $m }
    p { font-size: $body_fs * $m }

    .shows-list { padding: .2rem; }
    .card-details { padding: .3rem .6rem }
  }
  @include mq(tabletp) {
    $m: 0.9;
    h1 { font-size: $h1_fs * $m }
    h2 { font-size: $h2_fs * $m }
    h3 { font-size: $h3_fs * $m }
    h4 { font-size: $h4_fs * $m }
    h5 { font-size: $h5_fs * $m }
    h6 { font-size: $h6_fs * $m }
    p { font-size: $body_fs * $m }
    header { padding: 1.5em; }

    .shows-list { padding: .25rem; }
    .card-details { padding: .4rem .8rem }
  }
  @include mq(tabletl) {
    $m: 0.9;
    h1 { font-size: $h1_fs * $m }
    h2 { font-size: $h2_fs * $m }
    h3 { font-size: $h3_fs * $m }
    h4 { font-size: $h4_fs * $m }
    h5 { font-size: $h5_fs * $m }
    h6 { font-size: $h6_fs * $m }
    p { font-size: $body_fs * $m }

    .shows-list { padding: .5rem }
    .card-details { padding: .5rem 1rem }
  }
  @include mq(laptop) {
    $m: 0.95;
    h1 { font-size: $h1_fs * $m }
    h2 { font-size: $h2_fs * $m }
    h3 { font-size: $h3_fs * $m }
    h4 { font-size: $h4_fs * $m }
    h5 { font-size: $h5_fs * $m }
    h6 { font-size: $h6_fs * $m }
    p { font-size: $body_fs * $m }

    header { padding: 2em; }
    .shows-list { padding: 1rem; }
    .card-details { padding: .5rem 1rem }
  }
  @include mq(desktop) {
    $m: 1;
    h1 { font-size: $h1_fs * $m }
    h2 { font-size: $h2_fs * $m }
    h3 { font-size: $h3_fs * $m }
    h4 { font-size: $h4_fs * $m }
    h5 { font-size: $h5_fs * $m }
    h6 { font-size: $h6_fs * $m }
    p { font-size: $body_fs * $m }

    .shows-list { padding: 2rem; }
    .card-details { padding: .5rem 1rem }
  }
}
