@import '../../sass/_mixins';
@import '../../sass/_colors';
@import '../../sass/_responsive';

.App {
  text-align: center;
}

.main-logo {
  flex: 1;
  padding: 1.5rem;

  img {
    animation: logo-spin infinite 30s linear;
    height: 20vmin;
    pointer-events: none;
    opacity: 0.5;
  }
}

.header {
  background-color: #282c34;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .site-title {
    text-shadow: 0.05rem 0.05rem 0.15rem rgba(0,0,0,.85);
    position: absolute;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 4vmin;

}

.shows-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button,
a.button {
  cursor: pointer;
  font-size: .7rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: lighten($color-secondary, 10);
  color: #fff;
  padding: 0.7rem 1.6rem;
  margin: 0.5rem;
  border-radius: 4px;
  border: 1px solid #023a4a;
  @include transition(all 180ms ease-in);

  &:hover,
  &:focus {
    box-shadow: 0 .4em 0.9em rgba(0,0,0, 0.5);
    transform: translateY(-0.15em);
    background-color: lighten($color-secondary, 20);
  }
  &:active {
    background-color: darken($color-secondary, 20);
    transform: translateY(0.05em);
    box-shadow: 0 0 0.05rem rgba(200, 200, 200, 1);
  }
  &.float-right {
    position: absolute;
    z-index: 11;
    right: 0;
    top: 0;
  }
}
